# Ignoruj výstupy z dešifrování
output/
*.plaintext.txt
*.key.txt

# Ignoruj prostředí
.venv/
__pycache__/
*.pyc

# Ignoruj notebook checkpointy
.ipynb_checkpoints/

# Ignoruj IDE metadata (PyCharm)
.idea/

# Ignoruj exportované notebooky
*.html
